html, body {
  min-height: 100% !important;
  height: 100%;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game {
  background-color: #fffff;
  border: solid 15px #000;

  position: relative;
  top: 15px;
  left: 15px;

  width: 375px;
  height: 375px;

  margin: 0 auto;
  margin-top: -20px;
}
